<section class="ui basic vertical center aligned segment" id="home">
<section class="ui basic segment" id="eestec">
    <div class="ui content container">
        <h1 class="ui header aligned center">About
            <strong class="ui red header">EESTEC</strong>
        </h1>
        <h2 class="ui header aligned center">Electrical Engineering STudents' European assoCiation</h2>
        <p>
            Electrical Engineering STudents’ European assoCiation (EESTEC) was founded in Eindhoven in 1986,
            aiming to improve students’ international cooperation, as well as enable students from electrical profile
            Universities, Institutes and Technical Schools of Europe to cooperate with the industry, participate in
            competitions,
            professional trainings and other forms of professional development. By its nature, EESTEC is an apolitical,
            non-governmental and nonprofit students’ organization which brings together students organized into 52
            Universities
            from 26 Countries. After 32 years of successful development, EESTEC remains one of the strongest students’
            networks
            in Europe, giving opportunities to young future professionals to improve and upgrade their technical and
            soft skills.
        </p>
        <a href="https://www.eestec.net" target="_blank">
            <img alt="" class="ui centered large image" src="assets/images/eestec-logo.png">
        </a>
    </div>
</section>
</section>
