<section class="ui stackable content main grid container">
    <h1 class="ui header aligned center sixteen wide column">
        <abbr title="Frequently Asked Questions">FAQ</abbr>
    </h1>

    <div class="ui styled fluid accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            Who can be the participant of the competition?
        </div>
        <div class="content">
            <p>The participants of the competition are required to:</p>
            <ol>
              <li>have between 18 and 26 years;</li>
              <li>currently attending studies relevant to EECS (Electrical Engineering and Computer Science);</li>
              <li>reside in the same country as the one the Local Round they are applying for is held.</li>
            </ol>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            What happens after the Local Round?
        </div>
        <div class="content">
            <p>The winning team needs to confirm to the local organisers within 10 days after the Local Round is finished whether they will attend the Final Round. If no confirmation takes place or the team cancels, then the 2nd winning team will be promoted to the Final Round. However, the winning team can maintain all the awards from the Local Round, with the exception of travel reimbursement (if applicable) that will be awarded to the team that will proceed to the Final Round.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Participants’ cancellation
        </div>
        <div class="content">
            <p>If the cancellations takes place, more than 10 days  before the inauguration of Final Round, then the process of the previous question is followed. </p>
            <p>The winning teams that are proceeding to the Final Round should be consisted of three members each.</p>
            <p>If one member of a local winning team cannot attend the Final Round, then the team is allowed to proceed to the Final Round, but may not introduce any new/substitute member for the one that has cancelled. The remaining members of the team need to confirm within a week whether they will proceed or not. If no confirmation takes place within a week, then the whole team will be disqualified.</p>
            <p>If more than one contestant is not attending the Final Round, that exact team will not proceed, but the second-winning one will.</p>
            <p>In case there is a cancellation, please, note that the criteria for all teams will remain the same during the Final Round.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Who will cover my expenses for the Final Round if I win locally (food, travel, accommodation…)?
        </div>
        <div class="content">
            <p>During the Final Round, the accommodation and food (3 meals per day) will be covered by the Organising Committee. Travel expenses will not be covered by the organization of the Final Round. Local Round Organizing Committees might be providing this, however, it depends on the local organization. You can contact the Local Round Organizing Committee for more information.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Can I join as an individual or only as a team?
        </div>
        <div class="content">
            <p>It depends on the Local Round organisation, you should contact local organisers in order to get the information.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Who should I contact if I have some questions?
        </div>
        <div class="content">
            <p>To contact the international team, you can send an email to eestech-challenge@eestec.net.</p>
            <p>Each Local Round has the Main Organiser of the local event, and you can find their contacts on this website when you click on the current city.</p>
            <p>For any question regarding the Local Round itself, we are kindly asking you to contact the local organisers since the process of responding will be way more efficient in that case.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            What are the dates of Final Round and how long will it last?
        </div>
        <div class="content">
            <p>Soon to be announced.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            How much are the participation fees?
        </div>
        <div class="content">
            <p>There is no fee, participation is completely free of charge to all the participants.</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            How much prior knowledge is required?
        </div>
        <div class="content">
            <p>Basic knowledge in the field of Big Data Analysis. You can find the educational material provided in Online Seminars section.</p>
        </div>
    </div>
</section>
