<section class="ui basic vertical center aligned segment" id="home">
<div id="sponsors">
    <div class="ui huge header">Sponsors &amp; Supporters</div>
    <div class="ui content container">
            <p>By having SSAs all over Europe, we create the opportunity for companies to come in touch with young people who have developed their soft skills and are ready to be placed in any type of position and conquer it.
Also, by having access to our promotional campaign, you get the chance to come in contact with people of all trades, not just Electrical Engineers, who are keen on self-improvement and interested in being part of an international working environment.
If you are interested in becoming our sponsor please do not hesitate to contact us.
    </p>
    </div>
    </div>
</section>
