<section class="ui stackable content main grid container">
    <h1 class="ui header aligned center sixteen wide column">Terms &amp; Conditions</h1>
    <h4 class="ui header aligned center sixteen wide column">ENTRY IN THIS COMPETITION CONSTITUTES YOUR ACCEPTANCE OF THESE TERMS AND CONDITIONS</h4>

    <div class="container">
        <ol class="ui custom list">
            <li>
                <h5>BINDING AGREEMENT</h5>
                <p>In order to enter the Competition, you must agree to these Terms and Conditions ("Terms"). Therefore, please read these Terms prior to entry to ensure you understand and agree. You agree that submission of an entry in the EESTech Challenge constitutes agreement to these Terms. These Terms form a binding legal agreement between you and Electrical Engineering STudents European assoCiation ("EESTEC") with respect to the EESTech Challenge.</p>
            </li>
            <li>
                <h5>ELIGIBILITY</h5>
                <p>The participation is open and free of registration to individuals who are between 18 and 26 years.</p>
                <p>The Competition is void where prohibited by law.</p>
                <p>The following individuals are not eligible to participate in this Challenge:</p>
                <p class="sublist">
                    a. Challenge Entities, in detail:
                    <span class="sublist">(i) Current EESTech Challenge Local and International Board members</span>
                    <span class="sublist">(ii) Current EESTEC International Board members</span>
                    <span class="sublist">(iii) Current EESTEC International Oversight Committee members</span>
                    <span class="sublist">(iv) Current Technical consultants of EESTech Challenge.</span>
                </p>
                <p class="sublist last">b. Current employees, interns, contractors, and official office-holders of the corporate sponsors of EESTech Challenge.</p>
                <p>EESTEC reserves the right to verify eligibility and to adjudicate on any dispute at any time.</p>
                <p>All communications between EESTech Challenge and contestants, including but not limited to the EESTech Challenge website content and email communications, will be in English, except for the Local Rounds which will be conducted in native language.</p>
            </li>
            <li>
                <h5>HOW TO ENTER</h5>
                <p>All Contestants must register and provide the required personal information at the Competition website, located at: <a href="https://eestechchallenge.eestec.net." target="_blank">https://eestechchallenge.eestec.net.</a>.</p>
                <p>As part of registration, contestants will be required to provide information about themselves, such as their names and email addresses.</p>
            </li>
            <li>
                <h5>CONDITIONS OF PARTICIPATION</h5>
                <p>Prizes are awarded without warranty of any kind from EESTEC. Contestants' participation in this competition means that contestant agrees to be bound by the terms of these Terms and by the decisions of EESTEC, which are final and binding on all matters pertaining to this competition.</p>
                <p>Contestants agree that EESTEC shall have a perpetual, irrevocable, worldwide, royalty-free right to use, copy, distribute, modify and make publicly available the submission in connection with the operation, conduct, administration, and advertising and promotion of the Competition.</p>
            </li>
            <li>
                <h5>TRAVEL AND EXPENSES</h5>
                <p>Winners are encouraged, but not obliged to be present in the award ceremony held in Belgrade, in April 2016. EESTEC does <strong>not</strong> guarantee any cost coverage or refunds of travel, food, and accommodation expenses.</p>
            </li>
            <li>
                <h5>PRIVACY</h5>
                <p>Contestant acknowledges and agrees that EESTEC may collect, store, share and otherwise use personally identifiable information provided during the registration process and the competition, including, but not limited to, name, mailing address, phone number, email address, and curriculum vitae. EESTEC will use this information, including for administering the EESTech Challenge and verifying contestants’ identity and telephone number in the event a contestant qualifies for a prize, and if agreed to by contestant, for recruiting purposes, by the EESTech Challenge’s corporate partners or sponsors.</p>
                <p>Contestant’s information may also be transferred to countries outside the country of Contestant's residence. Such other countries may not have privacy laws and regulations similar to those of the country of Contestant's residence. If a Contestant does not provide the mandatory data required at registration, EESTEC reserves the right to disqualify the entry.</p>
                <p>Contestant has the right to request access, review, rectification or deletion of any personal data held by EESTEC in connection with the EESTech Challenge by writing to EESTech Challenge at this email address: <a href="mailto:eestech-challenge@eestec.net" target="_blank">eestech-challenge@eestec.net</a></p>
            </li>
            <li>
                <h5>ELIMINATION</h5>
                <p>A Contestant may be prohibited from participating in EESTech Challenge if, in EESTEC’s sole discretion, EESTEC reasonably believes that the Contestant has attempted to undermine the legitimate operation of the Competition by:</p>
                <p class="sublist"><strong>a. </strong>Providing false information concerning his/her identity and other personal data;</p>
                <p class="sublist"><strong>b. </strong>Breaching any of the provisions set forth in these Terms;</p>
                <p class="sublist"><strong>c. </strong>Threatening, harassing or interfering with the ability of other Contestants to effectively participate in the EESTech Challenge;</p>
                <p class="sublist"><strong>d. </strong>Threatening, harassing or interfering with EESTech Challenge Organizers, or other EESTEC members;</p>
                <p>EESTEC further reserves the right to disqualify any submission that it believes in its sole and unfettered discretion infringes upon or violates the rights of any third party or otherwise does not comply with these Terms.</p>
                <p>Claims or concerns about suspicious activity or cheating in any Round must be delivered to the EESTech Challenge administrator within seven (7) days after the end of that Round. If EESTEC suspects cheating or violation of the Terms by any Contestant, EESTEC will in its sole discretion research such claims and take the appropriate action. All decisions of EESTEC in these matters are final and binding.</p>
            </li>
            <li>
                <h5>NOT AN OFFER OR CONTRACT OF EMPLOYMENT</h5>
                <p>Under no circumstances shall the submission of an entry into the EESTech Challenge or anything in these Terms be construed as an offer or contract of employment with EESTEC or any of the sponsors of the EESTech Challenge. You acknowledge that you have submitted your entry voluntarily and not in confidence or in trust. You acknowledge that no confidential, fiduciary, agency or other relationship or implied-in-fact contract now exists between you and EESTEC and that no such relationship is established by your submission of an entry under these Terms. </p>
            </li>
        </ol>
    </div>
</section>
