<section class="ui basic inverted vertical masthead center aligned segment" style="background-color:#3679bd" id="home">
    <h1 class="ui header inverted">Sponsors</h1>
</section>

<section class="ui basic center aligned segment">
  <h1 class="ui header">International Sponsor</h1>
  <div class="ui centered special card">
    <script>
      $('.special.card .image').dimmer({
           on: 'hover'
        });
    </script>
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <p>
            RUAG Defence is a leading independent provider of integration, upgrade and maintenance services for land-based defence and security systems.
          </p>
        </div>
      </div>
      <img src="assets/images/sponsors/ruag.jpg">
    </div>
    <div class="content">
        <div class="header"><a href="https://www.ruag.com/en/products-services/land/cyber-security" target="_blank">Ruag Defence</a></div>
    </div>
  </div>
</section>

<h1 class="ui center aligned header">Local Sponsors</h1>

  <section class="ui basic center aligned segment">
    <h2 class="ui header">LC Sarajevo</h2>
    <div class="ui centered card">
      <div class="image">
          <img src="assets/images/sponsors/symphony.png">
      </div>
      <div class="content">
          <div class="header">Symphony</div>
      </div>
    </div>
    </div>
  </section>

  <section class="ui basic center aligned segment">
    <h2 class="ui header">LC Zagreb</h2>
    <div class="ui centered card">
      <div class="image">
          <img src="assets/images/sponsors/telekom.png">
      </div>
      <div class="content">
          <div class="header">Hrvatski Telekom</div>
      </div>
    </div>
  </section>

  <section class="ui basic center aligned segment">
    <h2 class="ui header">LC Zurich</h2>
    <div class="ui centered card">
      <div class="image">
          <img src="assets/images/sponsors/amiv.png">
      </div>
      <div class="content">
          <div class="header">Amiv</div>
      </div>
    </div>
  </section>
  <section class="ui basic center aligned segment">
    <h2 class="ui header">LC Athens</h2>
      <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/aldigron.jpg">
        </div>
        <div class="content">
            <div class="header">Aldigron</div>
        </div>
      </div>
      <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/fibreone.png">
        </div>
        <div class="content">
            <div class="header">Fibre One</div>
        </div>
      </div>
      <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/gaea.png">
        </div>
        <div class="content">
            <div class="header">Gaea</div>
        </div>
      </div>
      <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/i-copy.jpg">
        </div>
        <div class="content">
            <div class="header">i-Copy</div>
        </div>
      </div>
      <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/lartigiano.jpg">
        </div>
        <div class="content">
            <div class="header">L'Artigiano</div>
        </div>
      </div>
      <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/olympos.jpg">
        </div>
        <div class="content">
            <div class="header">Olympos</div>
        </div>
      </div>
  </section>



</div>
